<style>
    body {
      
      text-align: center;
      background-color:lightsteelblue;
    }
    h1 {
      color: white;
    }
    table {
      margin: auto;
      background-color: green;
      width: 325px;
      text-align: center;
      border-radius: 6px;
    }
    input {
      outline: 0;
      border: 0;
      color: black;
      background-color: #fff;
      border-radius: 4px;
      width: 60px;
      height: 50px;
      margin: 5px;
      font-size: 20px;
      box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    }
    input:hover {
      color: white;
      background-color: rebeccapurple;
      box-shadow: 0 4px #644294;
    }
    input:active {
      top: 4px;
      color: var(#34e970);
      background-color: #8F5FD4;
      box-shadow: none;
    }
    #answer {
      width: 270px;
      font-size: 26px;
      text-align: center;
      background-color: #F1FAEB;
    }
    .operator {
      background-color:  #e9349b;
    }
    .operator:hover {
      background-color:#1c83af ;
      box-shadow: 0 4px #39b1d6;
    }
    .operator:active {
      top: 4px;
      box-shadow: none;
    }
    #clear {
      background-color: #b62775;
      margin-bottom: 15px;
    }
    #clear:hover {
      background-color: #F297A0;
      box-shadow: 0 4px #a33d45;
    }
    #clear:active {
      top: 4px;
      box-shadow: none;
    }
  </style>
